<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>班级管理</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	</head>
	<body style="padding: 10px;">
		<top id="top"></top>
		<!--新增班级-->
		<form id="form" class="form form-inline">
			<select id="major_id" name="major_id" class="form-control">
				<option value="">专业</option>
				<option v-for="major in majors" v-text="major.name" :value="major.id"></option>
			</select>
			<select id="grade_id" name="grade_id" class="form-control">
				<option value="">年级</option>
				<option v-for="grade in grades" v-text="grade.name" :value="grade.id"></option>
			</select>
			<input id="name" name="name" type="text" class="form-control" placeholder="班级名称" />
			<span id="add-major" @click="add" class="btn btn-success">新增班级</span>
		</form>
		<h3 class="text-center">班级管理</h3>
		<!--专业列表-->
		<table id="table" class="table table-hover table-striped text-center">
			<tr style="font-weight: bold;">
				<td>班级ID</td>
				<td>班级名称</td>
				<td>班级操作</td>
			</tr>
			<tr v-for="classes in classeses">
				<td v-text="classes.id"></td>
				<td v-text="classes.name"></td>
				<td>
					<div class="btn btn-warning" @click="edit(classes.id)">编辑</div>
					<div class="btn btn-danger" @click="del(classes.id)">删除</div>
				</td>
			</tr>
		</table>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js" ></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
	<script src="node_modules/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="js/nav.js" ></script>
	<script type="text/javascript" src="js/layer/layer.js" ></script>
	<script>
		var majors;
		var grades;
		var form=new Vue({
			el:"#form",
			data(){
				return{
					majors
				}
				return{
					grades
				}
			},
			methods:{
				//添加班级信息
				add(){
					var major_id=$("#major_id");
					if(major_id.val()==""||major_id.val()==null){
						alert("专业信息不能为空");
						return;
					}
					var grade_id=$("#grade_id");
					if(grade_id.val()==""||grade_id.val()==null){
						alert("年级信息不能为空");
						return;
					}
					var name=$("#name");
					if(name.val()==""||name.val()==null){
						alert("班级信息不能为空");
						return;
					}
					$.ajax({
						url:"admin/classes",
						type:"post",
						data:$("#form").serialize(),
						success:function(data){
							if(data.success){
								window.location.href="class-manager.html";
							}else{
								alert(data.msg);
							}
						}
					})
				}
			},
			beforeCreate(){
				//获取所有专业
				$.ajax({
					url:"admin/major",
					async: false,
					success:function(data){
						if(data.success){
							majors=data.data;
						}
					}
				})
				//获取所有年级
				$.ajax({
					url:"admin/grade",
					async:false,
					success:function(data){
						if(data.success){
							grades=data.data;
						}
					}
				})
			}
			
		})	
		var table=new Vue({
			el:"#table",
			data(){
				return{
					classeses
				}
			},
			methods:{
				//删除班级信息
				del(id){
					layer.confirm("确定删除班级信息吗",  {icon: 3, title:'提示'}, function(cindex){
						delclass(id);
						layer.close(cindex);
					}, function(cindex){
						layer.close(cindex);
					});
					function delclass(id){
						$.ajax({
							url:"admin/classes",
							type:"post",
							data:{"id":id,"_method":"delete"},
							success:function(data){
								if(data.success){
									window.location.href="class-manager.html";
								}else{
									alert(data.msg);
								}
							}
						}) 
					} 
				},
				//编辑班级信息
				edit(id){
					//专业信息
					var major="";
					for(var i=0;i<majors.length;i++){
						major+=`<option value="`+majors[i].id+`">`+majors[i].name+`</option>`
					}
					var grade="";
					for(var i=0;i<grades.length;i++){
						grade+=`<option value="`+grades[i].id+`">`+grades[i].name+`</option>`
					}
					layer.confirm(`
						<form id="class-form" class="form-horizontal">
							<select name="major.id" class="form-control">
								<option value="">专业</option>`
								+major+
							`</select><br />
							<select name="grade.id" class="form-control">
								<option value="">年级</option>`
								+grade+
							`</select><br />
							<input name="name" class="form-control" placeholder="请输入班级名称" />
						</form>`,
					{icon: -1, title:'请编辑信息'}, function(cindex){
						$.ajax({
							url:"admin/classes",
							type:"post",
							data:$("#class-form").serialize()+"&id="+id+"&_method=put",
							success:function(data){
								if(data.success){
									window.location.href="class-manager.html";
								}else{
									alert(data.msg);
								}
							}
						})
						layer.close(cindex);
					}, function(cindex){
						layer.close(cindex);
					});
				}
			},
			beforeCreate(){
				$.ajax({
					url:"admin/classes",
					async:false,
					success(data){
						if(data.success){
							classeses=data.data;
						}else{
							alert("获取数据失败，请检查登录状态")
						}
					}
				})
			}
		})
		
	</script>
</html>
