<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>同科目不同届</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	</head>
	<body style="padding: 10px;">
		<top id="top"></top>
		
		<!--选项-->
		<form id="form" class="container form-inline">
			<select class="form-control" name="major_id">
				<option value="">专业</option>
				<option v-for="major in majors" v-text="major.name" :value="major.id"></option>
			</select>
			<select class="form-control" name="survey_id">
				<option value="">科目</option>
				<option v-for="grade in grades" v-text="grade.name" :value="grade.id">2016级</option>
			</select>
			<div class="btn btn-success" @click="search">查询</div>
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<br />
				<label>选择年级（同科目不同届）</label><br />
				<select name="grades" id="left" class="form-control" multiple="multiple" style="min-width: 180px;overflow-y: auto;">
				</select>
			</div>
			<div style="line-height: 119px;">
				<div @click="compare" class="btn btn-success">
					比较
				</div>
			</div>
		</form><br /><br />
		<div id="table" class="row">
			
			<!-- <div class="col-sm-2 text-center" style="padding-top: 30px;padding-bottom: 30px;">
				<div id="to-right" class="btn btn-default">&gt;</div><br /><br />
				<div id="to-left" class="btn btn-default">&lt;</div>
			</div>
			<div class="col-sm-5 text-center">
				<label>已选择问卷</label><br />
				<select id="right" class="form-control" multiple="multiple" style="min-width: 180px;overflow-y: auto;">
				</select>
			</div> -->
		</div>
		<br /><br />
		
		<div style="width:-webkit-max();margin:10px auto">
		    <canvas id="myChart" ></canvas>
		</div>
		<div class="text-center text-danger">说明：该表为同科目不同届分数占比表，横轴代表分数段，纵轴代表人数</div>
		
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js" ></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="js/chart.min.js"></script>
	<script src="node_modules/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="js/nav.js" ></script>
	<script>
		var survey_id=window.location.href.split("?")[1];
		var labels=['0-10', '10-20', '20-30', '30-40', '40-50',"50-60","60-70","70-80","80-90","90-100"];
		var mydata;
		var myChart;
		var form=new Vue({
			el:"#form",
			data(){
				return{
					majors
				}
				return{
					grades
				}
			},
			methods:{
				compare(){
					var mydata="";
					$.ajax({
						url:"admin/get-same-subject",
						data:$("#form").serialize(),
						success:function(result){
							if(result.success){
								myChart.destroy();
								var labels=""
								for(var i=0;i<=result.data["sum"];i=i+100){
									labels+=i+"-"+(i+100)+","
								}
								var mylabels= labels.split(",");
								var mydata=`
										{
											labels:mylabels, 
											datasets:[`
								for(var i in result.data){
									if(i!="sum"){
										mydata+=`
											{
									            label: '游戏开发实训',
									            data: [0,0,0,0,0,0,0,0,0,0],
									            borderColor:"#`+getRandomColor()+`",
									            backgroundColor:"#`+getRandomColor()+`",
									            borderWidth: 1
									        },`
									}
								} 
								mydata+=`]}`
								mydata=eval(`(`+mydata+`)`)
								var k=0;
								for(var i in result.data){
									if(i!="sum"){
										mydata.datasets[k].label=result.data[i][0].name;
										for(var j=0;j<result.data[i].length;j++){
								        	mydata.datasets[k].data[result.data[i][j].num]=result.data[i][j].count;
											//alert(mydata.datasets[i].data[0])
								        }
										k++;
									}
								 }
							myChart = new Chart(ctx, {
								    type: 'bar',
								    data: mydata
								});
							}else{
								alert("数据查询失败");
							}
						}
					})
				},
				//查询年级情况
				search(){
					$.ajax({
						url:"admin/grade-major-survey",
						data:$("#form").serialize(),
						success:function(data){
							if(data.success){
								//如果没查询到数据
								if(data.data.length==0){
									alert("查询数据为空");
									return;
								}
								var temp="";
								for(var i=0;i<data.data.length;i++){
									temp+=`<option value="`+data.data[i].id+`">`+data.data[i].name+`</option>`
								}
								$("#left").html(temp);
							}else{
								alert("班级查询失败");
							}
						}
					})
				}
			},
			beforeCreate(){
				//获取所有专业
				$.ajax({
					url:"admin/major",
					async: false,
					success:function(data){
						if(data.success){
							majors=data.data;
						}else{
							alert("获取数据失败,请检查登录状态");
						}
					}
				})
				//获取所有科目
				$.ajax({
					url:"admin/wj",
					async:false,
					success:function(data){
						if(data.success){
							grades=data.data;
						}
					}
				})
			}
		})
		//随机生成颜色
		function getRandomColor( ) {
		    var rand = Math.floor(Math.random( ) * 0xFFFFFF).toString(16);
		    if(rand.length == 6){
		        return rand;
		    }else{
		        return getRandomColor();
		    }
		}
		
	  	//绘表
		var ctx = document.getElementById('myChart').getContext('2d');
		myChart = new Chart(ctx, {
		    type: 'bar',
		    data: mydata
		});
		
	</script>
</html>
